.messenger {
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
}

.wrapper{
    padding: 10px;
    height: 100%;
}

/* Chat menu  */
.chatMenu{
    width: 250px;
    background: var(--lightGray);
    height: 95vh;
    position: absolute;
    top: 0px;
    right: 0px;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.chatMenu.invisible{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: -250px;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
}

.chatMenuInput > input {
    border: none!important;
    border-bottom: 1px solid var(--gray)!important;
}

.chatMenuInput:focus{
    outline: none;
}

.friends-btn{
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 5;
    border-radius: 0!important;
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
    background-color: rgb(99, 197, 230)!important;
    transition: all 0.5s ease!important;
}

.friends-btn.right{
    position: absolute;
    top: 20px;
    right: 0px;
    margin-right: 250px!important;
    transition: all 0.5s ease!important;
}


/* Chat box  */
.chatBox{
    flex: 1;
    height: 100%;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.chatBoxTop{
    height: 100%;
    margin-top: 20px;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxTop::-webkit-scrollbar{
    width: 3px;
}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput{
    width: calc(100% - 80px)!important;
    padding: 10px 0!important;
}

.chatMessageInput > .input {
    width: 98% !important;
    border: none!important;
    
}

.chatMessageInput > .input > input {
    border: none!important;
    border-bottom: 1px solid var(--gray)!important;
    
}


.chatMessageInput:focus{
    outline: none;
}

.chatSubmitBtn{
    width: 75px!important;
}

.load-more{
    position: sticky;
    left: 50%;
    margin-top: 20px;
    width: 60px!important;
    left: calc(50% - 30px);
}

.noConversationText{
    position: absolute;
    line-height: 3rem;
    top: 10%;
    font-size: 3rem;
    color: var(--gray);
    text-align: center;
    cursor: default;
}

.empty-msg{
    position: absolute;
    line-height: 2rem;
    bottom: 30%;
    left: 40%;
    font-size: 2rem;
    color: var(--gray);
    text-align: center;
    cursor: default;
}

/* Chat online users  */
.chatOnline{
    flex: 3;
}

