.message{
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
}

.messageTop{
    display: flex;
    align-items: center;
}
.messageImg{
    width: 40px!important;
    height: 40px!important;
    margin-right: 1rem!important;
}
.messageText{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(99, 197, 230);
    color: white;
    max-width: 300px;
}
.messageBottom{
    font-size: 12px;
    margin-top: 0.5rem;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: var(--lightGray);
    color: black;
}