.App {
    text-align: center;
    width: 60%;
    height: 100px;
    margin: 1rem auto;
  }

  /* .main-form{
      width: calc(100% - 400px);
  } */
  
  .wrapperClassName {
    border: 1px solid gray;
    background-color: rgb(241, 241, 241);
  }

  .ui.icon.input{
      margin: 2rem auto;
  }

  .ui.wide.left.sidebar{
      width: 300px!important;
  }
  .ui.segment{
      border: none!important;
  }
  .ui.segment.pushable{
      min-height: 85vh;
  }

  .main-content{
    width: calc(100% - 400px);
  }

  .close.icon{
      color: #9f3a38;
  }

  .checkmark.icon{
      color: #2c662d;
  }

  tr{
      cursor: pointer;
  }